*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --backgroundColor:#1a1a1a;
    --primaryColor: linear-gradient(180deg,#5d347a,#131313);
    --accentColor:#4ec3cd;
    --textColor: #F2F0EF;

}

.background{
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-image: var(--primaryColor);
    border: #5d347a solid .3rem;
    border-radius: 1rem;
    
    width: 100%;
    max-width: 70rem;
    max-height: 56rem;
    padding: 2rem 1.6rem ;

}

.mainContainer input{
    outline: none;
    border: solid 0.2rem #5d347a ;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.courseContainer{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

}
.position{
    color: #F2F0EF;
    font-size: 2rem;
    padding-right: 2rem;
}

.CourseName{
    width: 100%;
    padding: 1.1rem 1.7rem;
    border-radius: .4rem;
    outline: none;
    font-size: 1.4rem;
    float: left;
}

.gradeContainer{
    display: flex;
    justify-content:center;
    gap:2rem;
    align-items: center;
    width: 100%;
    max-width: 63rem;
    margin: 1rem 3rem  1rem 6.4rem;
    
}


.gradeContainer input{
    padding: 1.1rem 1.7rem;
    border-radius: .4rem;
    outline: none;    
    width: 100%;
    font-size: 1.4rem;
    

}

.gradeContainer input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


#calculateBtn{
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: var(--accentColor);
    color: var(--textColor);
    
    padding: 1.2rem 3rem;
    border-radius: .6rem;
    cursor: pointer;
}

#calculateBtn:hover{
    background-color: #58dde9;
}

.resultContainer{
    background-color: var(--textColor);
    padding: 3rem 6rem;
    display: none;
    justify-content: center;
    align-items: center;
    
    border-radius:.4rem;
    font-size:2.2rem ;
}

.resultContainer #result{
    padding-left: .5rem;
    color: #131313;
}


.actionButton{
    padding: 1.2rem;
    border-radius:.6rem ;
        font-size: 1.3rem;
    font-weight: bolder;
    color:var(--textColor);
    outline: none;
    border: none;
    cursor: pointer;
}

#addBtn{
    background: var(--primaryColor);

}

#addBtn:hover{
    background: #5d347a;
}

#removeBtn{
    background: rgb(163, 1, 1);
    display: none;
}

#removeBtn:hover{
    background: red;
}