*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --backgroundColor:#1a1a1a;
    --primaryColor: linear-gradient(180deg,#5d347a,#131313);
    --accentColor:#4ec3cd;
    --textColor: #F2F0EF;

}

.background{
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-image: var(--primaryColor);
    border: #5d347a solid .3rem;
    border-radius: 1rem;
    
    width: 100%;
    max-width: 70rem;
    max-height: 56rem;
    padding: 2rem 1.6rem;

}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#CourseName{
    width: 100%;
    padding: 1.1rem 1.7rem;
    margin-bottom: 2rem;

    border-radius: .4rem;
    outline: none;
    font-size: 1.4rem;
}

.gradeContainer{
    display: flex;
    justify-content:center;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.gradeContainer input{
    padding: 1.1rem 1.7rem;
    width: 31.8rem;
    border-radius: .4rem;
    outline: none;
    font-size: 1.4rem;
}

.gradeContainer input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.assigContainer {

    display: inline-block;
    position: relative;
}


.assigContainer label{
    position: absolute;
    top: 50%;
    right:5% ;
    transform: translateY(-50%);

    font-size: 1.5rem;
    font-weight: 600;
    color: #b1b1b1;

}

